header{
    /* position: fixed !important; */
    position: absolute;
    top: 0 !important;
    left: 0;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    transition: 0.5s;
    z-index: 10000 !important;
}

/* header::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 130px;
    height: 100%;
    background: var(--primary);
    transition: 0.5s;
} */

.logo{
    font-family: 'Racing Sans One', cursive;
    font-size: 35px;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10000;
}

.wrapper-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

@media screen and (max-width: 565px) {
    .wrapper-nav{
        display: none;
    }
}

header .like{
    /* position: absolute; */
    position: relative;
    /* top: 0;
    right: 130px;
    width: 130px; */
    /* height: 100%; */
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background: var(--primary); */
    color: #ffffff;
    opacity: 0.8;
    font-size: 2rem;
    transition: 0.5s;
    cursor: pointer;
    z-index: 9000;
    transition: opacity 250ms ease;
}

header .like:hover{
    opacity: 1;
}

@media screen and (max-width: 745px) {
    header .like{
       font-size: 1.5rem;
       padding: 5px;
    }
}

header .likeNumbers{
position: absolute;
right: 3%;
top: 45%;
font-size: 1.2rem;
font-weight: 600;
width: 25px;
height: 25px;
background: var(--fourth);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.menu{
    position: relative;
    width: 130px;
    height: 100%;
    color: #ffffff;
    font-size: 2rem;
    transition: 0.5s;
    cursor: pointer;
    z-index: 10000;
}