.slide-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 120px;
    width: 120px;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #ffffff;
    z-index: 9000;
    cursor: pointer;
}

.slide-btn:hover{
    background: var(--second);
}

.slide-btn p{
    font-size: 18px;
    margin-bottom: 0;
}